Port PORT
AllowUsers USER...
ClientAliveInterval 100
AuthorizedKeysFile /etc/ssh/authorized-keys/%u
AuthenticationMethods publickey
PermitEmptyPasswords no
AllowTcpForwarding no
PrintMotd no

# enable sftp
Subsystem sftp internal-sftp
Match User sftp
    ChrootDirectory /mnt
    ForceCommand internal-sftp
